@import "tailwindcss";



@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  --background: rgb(244, 248, 255);
  --primary: #0400ff;
  --text: #383838;
  --secondary: #ffffff;
}

.dark {
  --background: #000000;
  --primary: #ffffff;
  --text: #c2c2c2;
  --secondary: #1d1d1d;
}

body {
  background-color: var(--background);
}

/* *{
  border: 1px solid blue;
} */

