@import "tailwindcss";



@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  --background: #ffffff;
  --primary: #0026ff;
  --text: #3554ff;
  --secondary: #e3f5ff;
}

.dark {
  --background: #000000;
  --primary: #ffffff;
  --text: #c2c2c2;
  --secondary: #1d1d1d;
}

body {
  background-color: var(--background);
}

